<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="7zip"/>
	<package id="putty"/>
	<package id="GoogleChrome"/>
	<package id="Firefox"/>
	<package id="filezilla"/>
	<package id="windirstat"/>
	<package id="VirtualCloneDrive"/>
	<package id="FoxitReader"/>
	<package id="notepad2"/>
	<package id="winscp"/>
	<package id="sharpkeys"/>
	<package id="winsplit"/>
	<package id="TotalCommander"/>
	<package id="ditto"/>
	<package id="tightvnc"/>
</packages>