<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="skype"/>
	<package id="paint.net"/>
	<package id="virtualbox"/>
	<package id="calibre"/>
	<package id="gimp"/>
	<package id="libreoffice"/>
	<package id="IrfanView"/>
	<package id="flashplayerplugin"/>
	<package id="inkscape"/>
	<package id="steam"/>
	<package id="dosbox"/>
	<package id="kindle"/>
	<package id="gnucash"/>
	<package id="avgantivirusfree"/>
	<package id="virtualdub"/>
	<package id="TempFileCleaner"/>
</packages>