<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="git"/>
	<package id="svn"/>
	<package id="Console2"/>
	<package id="sysinternals"/>
	<package id="curl"/>
	<package id="wget"/>
	<package id="vim"/>
	<package id="ConEmu"/>
	<package id="dotPeek"/>
	<package id="winpcap"/>
	<package id="wireshark"/>
	<package id="gow"/>
	<package id="fiddler"/>
	<package id="autohotkey_l"/>
	<package id="ilmerge"/>
	<package id="dependencywalker"/>
</packages>