<?xml version="1.0" encoding="utf-8"?>
<packages>
	<package id="VisualStudio2012Ultimate"/>
	<package id="MsSqlServer2012Express" />
	<package id="githubforwindows"/> <!-- failed? -->
	<package id="TortoiseSvn"/> <!-- failed? -->
	<package id="diffmerge"/>
	<package id="teamviewer"/>
	<package id="erlang"/>
	<package id="redis"/>
	<package id="rabbitmq"/>
	<package id="ravendb.server"/>
	<package id="ncrunch.vs2012"/>
	<package id="TortoiseGit"/>
</packages>  
